// SERVICIOS    
@media screen and (min-width: 600px) {
    .servicios {
        padding: 0 2em;
    }

    .column {
        flex: 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .servicios {
        padding: 1em 3em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}


//NOTICIAS
@media screen and (max-width: 1250px){
    .blog-box {
        width: 300px;
    }
}

@media screen and (max-width: 1100px){
    .blog-box {
        width: 70%;
    }
}


//CONTACTO
@media screen and (min-width: 600px) {
    .formulario {
        padding: 0 4rem;
    }

    .contact {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .formulario {
        padding: 0 4rem;
    }

    .contact {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

//NOSOTROS
@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1024px) {
    
}
